.btn{
  display: inline-block;
  background-color: #649;
  color: #fff;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9em 2.1em;
  border-radius: 1.6em;
  border: 0.1em solid #649;
  box-shadow: 0 4px 8px #d6d6d6;
  transition: all 0.3s;
}
.btn:hover{
  background-color: #fff;
  color: #649;
  box-shadow: 0 4px 12px #8a8888;

}
.btn.btn-white{
  background-color: #fff;
  color: #649;
}
.btn.btn-white:hover{
  background-color: #649;
  color: #fff;
}