.container{
  display: inline-block;
  width: 1000px;
  margin: 0 calc((100% - 1000px) / 2);
 }
.logo{
  float: left;
}
.main-nav{
  float: right;
}
.main-nav > .link{
  color: #333;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
}
.main-nav > .link:first-child{
  margin: 0;
}
.main-nav > .link:hover{
  background-color: yellow;
  text-decoration: underline;
  color: #649;
  font-size: 25px;
  font-weight: 700;
}

/* Main style */
.hero{
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Footer style */
.socials{
  float: left;
}
.socials > a{
  font-size: 25px;
  color: rgb(221, 221, 221);
}
.copyright{
  float: right;
}
