.cont{
  display: inline-block;
  width: 1000px;
  margin: 0 calc((100% - 1000px) / 2);
 }
.logo{
  float: left;
}
.main-nav{
  float: right;
}
.main-nav > .link{
  color: #333;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
}
.main-nav > .link:first-child{
  margin: 0;
}
.main-nav > .link:hover{
  background-color: yellow;
  text-decoration: underline;
  color: #649;
  font-size: 25px;
  font-weight: 700;
}

/* Main style */
.hero{
  margin-top: 60px;
  margin-bottom: 60px;
}
.left{
  width: 40%;
  float: left;
  margin-top: 100px;
}
.main-title{
  margin: 0;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-title > span{
  font-weight: 100;
} 
.description{

}
.btn{

}
.right{
  float: right;
  width: 55%;
}

/* Footer style */
.socials{
  float: left;
}
.socials a{
  text-decoration: none;
  font-size: 30px;
  color: #777;
}
.socials a:hover{
  color: #649;
}
.copyright{
  float: right;
}
/* .cont:last-of-type{
  background-color: red;
} */