header, main, footer{
  display: inline-block;
  width: 1000px;
  margin: 0 calc((100% - 1000px) / 2);
 }
img{
  float: left;
}
nav{
  float: right;
}
nav > a{
  color: #333;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
}
nav > a:first-child{
  margin: 0;
}
nav > a:hover{
  background-color: yellow;
  text-decoration: underline;
  color: #649;
  font-size: 25px;
  font-weight: 700;
}

/* Main style */
main{
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Footer style */
div{
  float: left;
}
div > a{
  font-size: 18px;
  color: rgb(221, 221, 221);
}
p{
  float: right;
}