header, main, footer{
  display: inline-block;
  width: 1000px;
  margin: 0 calc((100% - 1000px) / 2);
 }
img{
  float: left;
}
nav{
  float: right;
}
a{
  color: #333;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
}
a:first-child{
  margin: 0;
}
a:hover{
  background-color: yellow;
  text-decoration: underline;
  color: #649;
  font-size: 25px;
  font-weight: 700;
}